<header class="site-header sticky-top py-1">
    <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
            <a class="nav-link" routerLink="/registration">Registration</a>
            <a class="nav-link" routerLink="/auth">Sign in</a>
            <a class="nav-link" routerLink="/personalarea">Personal Area</a>
            <a class="nav-link" routerLink="/about">About</a>
        </nav>
    </div>
</header>



